.about{
  //background: #fefcf4;
  &.pages{
    .container {
      .wrap {
        display: block;
        &:after{
          content: '';
          display: block;
          clear: both;
        }
        img{
          float: right;
          margin-bottom: 20px;
          margin-right: 0;
          margin-left: 5em;
          max-width: 500px;
          width: 100%;
        }
      }
    }
    .title{
      font-size: 2em;
    }
  }
  &.single_page{
    .post_thumbnail{
      height: 300px;
      img{
        width: 100%;
        object-fit: cover;
        height: 100%;
      }
    }
    .container {
      .wrap {
        img{
          float: none;
          margin: 0;
          width: auto;
          height: auto;
        }
      }
    }
  }
  .container{
    .wrap{
      display: block;
      img{
        float: left;
      }
      .about_text{
        font-family: mr;
        font-size: 1.6em;
      }
    }
  }
  h2.title_block{
    grid-column: 1/3;
  }
  img{
    max-width: 100%;
    margin-right: 5em;
    height: auto;
    width: 300px;
  }
  .title{
    font-family: $gabri;
    font-size: em(30px, $base-font-size);
    padding-bottom: 50px;
    .wrap_text{
      color: $viol_c;
      font-size: 50px;
    }
  }
  .text{
    padding-bottom: 50px;
    .wrap_text{
      color: #383333;
      font-size: 30px;
    }
    strong{
      font-family: $gabri;
      font-size: 24px;
    }
    h2{
      font-family: $gabri;
      font-size: 2em;
      color: #343232;
      padding: 10px 0;
    }
  }
  a.btn{
    display: inline-block;
  }
}
