.articles_list{
  padding-top: 5em;
  .container{
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
  }
  .title_block{
    grid-column: 1/3;
  }
  .single_article{
    @include flexbox;
    flex-direction: column;
    background-color: $white_c;
    &_img{
      img{
        width: 100%;
        height: 300px;
        object-fit: cover;
      }
    }
    &_description{
      @include flexbox;
      flex-direction: column;
      padding: 2em 3em;
      &_title{
        font-size: 2.4em;
        font-family: $gabri;
        height: 60px;
      }
      &_short{
        font-size: 1.6em;
        padding: 1em 0;
        p{
          height: 50px;
          overflow: hidden;
          line-height: 1.1;
        }
      }
    }
    .btn{
      width: 200px;
    }
  }
}