@import "vars";

a.btn,
.wpcf7-submit{
  padding: 13px 35px;
  //display: block;
  font-family: 'Roboto', sans-serif;
  font-size: em(12px, $base-font-size);
  background: $viol_c;
  color: $white_c;
  transition: .3s;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid $viol_c;
  &:hover{
    color: $viol_c;
    background: transparent;
    border: 3px solid $viol_c;
  }
}


