.contact_form{
  .top{
    background: #f4f4f4;
    .container{
      @include flexbox;
      @include justify-content(center);
      @include flex-direction(column);
      align-items: center;
    }
    p{
      font-size: em(18px, $base-font-size);
      font-family: 'Roboto', sans-serif;
      color: $dark_c;
      max-width: 750px;
      text-align: center;
      line-height: 1.5;
    }
  }
  .middle{
    background: url('../img/contact_form/fiol.jpg');
    height: 375px;
    position: relative;
    .container{
      height: 100%;
      position: relative;
    }
  }
  .bottom{
    background: #f4f4f4;
    height: 150px;
  }
  &.pages{
    form{
      position: relative;
    }
  }
  form{
    position: absolute;
    z-index: 10;
    padding: 40px 100px;
    margin: auto;
    left: 0;
    right: 0;
    top: 10%;
    max-width: 750px;
    width: 100%;
    background: $white_c;
    .your-message{
      grid-column: 1/3;
      //height: 150px;
    }
    .btn{
      grid-column: 1/3;
      width: 100%;
      display: block;
      max-width: 160px;
      margin: auto;
    }
  }
}