.direction{
  .container{
    text-align: center;
  }
  a.btn{
    display: inline-block;
  }
  .wrap_text{
    color: $viol_c;
    font-size: em(40px, $base-font-size);
    font-family: $gabri;
    text-transform: initial;
  }
  p{
    font-size: em(18px, $base-font-size);
    font-family: 'Roboto', sans-serif;
    color: $dark_c;
    padding-bottom: 50px;
  }
  .direction_list{
    @include display-grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    &__item {
      font-family: 'Roboto', sans-serif;
      text-align: center;
      @include flexbox;
      @include flex-direction(column);
      @include align-items (center);
      position: relative;
      &_name{
        font-size: em(20px, $base-font-size);
        font-family: 'Roboto', sans-serif;
        color: $dark_c;
        @include flexbox;
        height: 50px;
        @include align-items (flex-end);
        padding-bottom: 1em;
      }
      >div{
        background: #fefdfc;
        padding: 15px;
        border-radius: 50%;
        width: 75px;
        height: 75px;
        margin-bottom: 1em;
        position: absolute;
        top: 10%;
        img{
          height: 50px;
        }
      }
      ul{
        margin-top: 50px;
        background: #f4f4f4;
        padding: 50px 20px 20px 50px;
        text-align: left;
        @include display-grid;
        grid-gap: 10px;
        li{
          position: relative;
          font-size: em(16px, $base-font-size);
          &:before{
            content: url('../img/directions/check-mark.png');
            display: block;
            position: absolute;
            left: -40px;
          }
        }
      }
    }
  }
}