@import "vars";

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic";

@font-face {
  font-family: 'mr';
  src: url('../fonts/MyriadPro-Regular.eot');
  src: local('☺'), url('../fonts/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro-Regular.ttf') format('truetype'), url('../fonts/MyriadPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'elb';
  src: url('../fonts/ElMessiri-Bold.eot');
  src: local('☺'), url('../fonts/ElMessiri-Bold.woff') format('woff'), url('../fonts/ElMessiri-Bold.ttf') format('truetype'), url('../fonts/ElMessiri-Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gabri';
  src: url('../fonts/Gabriola One.eot');
  src: local('☺'), url('../fonts/Gabriola One.woff') format('woff'), url('../fonts/Gabriola One.ttf') format('truetype'), url('../fonts/Gabriola One.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'alice';
  src: url('../fonts/Alice-Regular.eot');
  src: local('☺'), url('../fonts/Alice-Regular.woff') format('woff'), url('../fonts/Alice-Regular.ttf') format('truetype'), url('../fonts/Alice-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}