footer{
  color: #fbf8f8;
  background: #5a5958;
  //position: absolute;
  //right: 0;
  //bottom: 0;
  //left: 0;
  //padding: 1rem;
  .container{
    padding: 20px 50px;
    @include display-grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 25px;
  }
  .name{
    grid-column: 1/3;
    text-align: center;
  }
  .contacts{
    @include flexbox;
    @include justify-content(center);
    a{
      font-size: em(16px, $base-font-size);
      padding: 0 20px;
      i{
        padding-right: 5px;
      }
    }
  }
  .copywrite{
    color: $white_c;
    font-size: em(14px, $base-font-size);
  }

}