form{
  p{
    @include display-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  br{
    display: none;
  }
  span input,
  select,
  textarea{
    font-size: em(16px, $base-font-size);
    font-family: 'Roboto', sans-serif;
    border-radius: 10px;
    padding: 5px 20px;
    border: 1px solid $dark_c;
    width: 100%;
  }
  select{
    height: 100%;
  }
  textarea{
    resize: none;
    height: 100px;
  }
  .your-message{
    grid-column: 1/32;
    //height: 150px;
  }
  .wpcf7-submit{
    grid-column: 1/3;
    width: 100%;
    display: block;
    max-width: 160px;
    margin: auto;
  }
}

//form{
//  @include display-grid;
//  grid-template-columns: 1fr 1fr;
//  grid-gap: 20px;
//  input,
//  select,
//  textarea{
//    font-size: em(16px, $base-font-size);
//    font-family: 'Roboto', sans-serif;
//    border-radius: 10px;
//    padding: 5px 20px;
//    border: 1px solid $dark_c;
//    width: 100%;
//  }
//  textarea{
//    resize: none;
//    height: 100px;
//    grid-column: 1/3;
//  }
//}