.games{
  .container .wrap img{
    float: none;
    margin: 0;
  }
  .games_list{
    margin-bottom: 5em;
  }
  &_item{
    @include display-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding: 20px 0;
    &__name{
      grid-column: 1/3;
      text-align: center;
    }
    &__desctiption{
      line-height: 1.5;
      align-self: center;
    }
    &__image{
      text-align: center;
      img{
        height: 400px;
        object-fit: cover;
      }
    }
    &:nth-child(odd){
      .games_item__desctiption{
        grid-column:2/3;
      }
      .games_item__image{
        grid-column:1/2;
        grid-row: 2;
      }
    }
    .game_images{
      grid-column: 1/3;
      @include flexbox;
      @include justify-content(space-around);
      @include align-items(center);
      height: 400px;
      img{
        width: 250px;

      }
    }
  }
  .game_images_slider {
    max-width: 1024px;
    grid-column: 1/3;
    .slick-arrow{
      border: 4px solid $viol_c;
      &:after{
        border: solid rgba($viol_c,.7);
        border-width: 0 4px 4px 0;
      }
      &.slick-next {
        right: 0;
      }
      &.slick-prev{
        left: 0;
      }
    }
  }
  .games_reviews{
    padding: 20px 0;
    &__body{
    }
    &__author{
      display: block;
      padding-top: 2em;
      text-align: center;
    }
  }

}