*{
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html, body {
  width: 100%;
  height: 100%;
}
::selection {
  color: $white_c;
  background: $dark_c;
}
input:focus,
button:focus,
textarea:focus {
  outline: none;
}

ul{
  list-style: none;
}
body{
  color: $dark_c;
  font-family: $mr;
  line-height: 1.5;
}
p{
  line-height: 1;
}
a{
  text-decoration: none;
  color: inherit;
}
a:focus,
a:hover,
a:visited{
  color: inherit;
}
header,
footer,
section{
  font-size: $base-font-size;
}
.container{
  max-width: 1170px;
  margin: auto;
}
.name{
  .title{
    font-size: em(30px, $base-font-size);
    text-transform: uppercase;
    font-family: $alice;
    white-space: nowrap;
  }
  .subtitle{
    font-size: em(20px, $base-font-size);
    text-transform: lowercase;
    font-family: 'Roboto', sans-serif;
  }
}
section {
  .container {
    padding: 40px 50px;
    .wrap{
      @include flexbox;
      @include justify-content(space-between);
      @include align-items(flex-start);
      @include flex-wrap(wrap);
    }
  }
  &.pages{
    padding-top: 105px;
  }
  .title_block {
    padding-bottom: 1em;
    text-align: center;
    position: relative;
    font-family: $gabri;
    font-size: em(40px, $base-font-size);
    padding-top: 20px;
    color: #343232;
    text-transform: none;
  }
  .block_text {
    max-width: 726px;
    padding: 1.5em 0;
    margin: auto;
  }
  .buttons {
    margin-top: 5em;
  }
}
.sub_title{
  font-size: em($font-size-26, $base-font-size);
  display: block;
  padding-bottom: em(20px, $font-size-26);
}
.social_contact{
  @include flexbox;
  @include align-items(flex-end);
  @include flex-direction(column);
  @include justify-content(space-between);
  a.social_link{
    width: 4em;
    height: 4em;
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    &:hover{
      //-webkit-filter: opacity(.5) drop-shadow(0 0 0 $red_color);
      //filter: opacity(.5) drop-shadow(0 0 0 $red_color);
    }
  }
}
.empty{
  display: block;
  padding: 10px;
}
.text{
  font-family: $mr;
  font-size: em(16px, $base-font-size);
  ul{
    background: #f4f4f4;
    padding: 50px 20px 20px 50px;
    text-align: left;
    li{
      position: relative;
      font-size: 16px;
      &:before{
        content: url('../img/directions/check-mark.png');
        display: block;
        position: absolute;
        left: -40px;
      }
    }
  }
}

.slick-arrow{
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 4px solid rgba($grey_c,.7);
  border-radius: 50%;
  z-index: 1;
  background: inherit;
  &.slick-prev{
    left: 5%;
    &:after{
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      left: 3px;
    }
  }
  &.slick-next{
    right: 5%;
    &:after{
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      right: 3px;
    }
  }
  &:after{
    content: '';
    border: solid rgba($grey_c,.7);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    position: relative;
  }
}

header{
  grid-area: header;
}
footer{
  grid-area: footer;
}
.main{
  grid-area: main;
  min-height: 84vh;
}
.content{
  @include display-grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer";
}