header{
  position: relative;
  .container{
    @include flexbox;
    @include align-items(center);
    padding: 10px 50px;
    @include justify-content(space-between);
  }
  .top{
    background: $grey_c;
  }
  .contacts{
    @include flexbox;
  }
  .bottom{
    position: absolute;
    width: 100%;
    z-index: 10;
    background: rgba($grey_c,.7);
    .container{
      @include display-grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding-bottom: 0;
      padding-top: 20px;
    }
    .menu{
      grid-column: 1/3;
      grid-row: 2;
      ul{
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        li{
          padding: 15px;
          &.current_page_item{
            a{
              color: #ab77ce;
            }
          }
          a{
            font-size: em(16px, $base-font-size);
            color: #4e4c4c;

          }
          &.active{
            a{
              //color: $violet_c;
            }

          }
        }
      }
    }
    .modal{
      text-align: right;
      .btn{
        font-size: em(24px, $base-font-size);
      }
    }
  }
  .contacts{
    .contacts_item{
      margin-right: 2em;
      font-size: em(16px, $base-font-size);
      i{
        padding-right: 5px;
      }
    }
  }
  .burger{
    grid-column: 2/3;
    display: none;
    color: #4a4a4a;
    cursor: pointer;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto;
    span{
      background-color: currentColor;
      display: block;
      height: 1px;
      left: calc(50% - 8px);
      position: absolute;
      -webkit-transform-origin: center;
      transform-origin: center;
      transition-duration: 86ms;
      transition-property: background-color,opacity,-webkit-transform;
      transition-property: background-color,opacity,transform;
      transition-property: background-color,opacity,transform,-webkit-transform;
      transition-timing-function: ease-out;
      width: 16px;
      &:nth-child(1){
        top: calc(50% - 6px);
      }
      &:nth-child(2){
        top: calc(50% - 1px);
      }
      &:nth-child(3){
        top: calc(50% + 4px);
      }
    }
    &.is-active{
      span{
        &:nth-child(1){
          -webkit-transform: translateY(5px) rotate(45deg);
          transform: translateY(5px) rotate(45deg);
        }
        &:nth-child(2){
          opacity: 0;
        }
        &:nth-child(3){
          -webkit-transform: translateY(-5px) rotate(-45deg);
          transform: translateY(-5px) rotate(-45deg)
        }
      }
    }
  }
}
