@media (max-width: 1280px) and (max-height: 737px){
  .quotes {
    .quotes_slider__item{
      background-size: 100% 100%;
      height: 500px;
    }
  }
}
@media (max-width: 992px){
  header{
    .top{
      display: none;
    }
    .bottom{

    }
    .menu,
    .modal,
    .contacts{
      display: none;
    }
    .burger{
      display: block;
    }
    &.is-active{
      height: 100vh;
      .bottom{
        background: rgba($grey_c,1);
        .menu{
          grid-row: 2;
          height: 75vh;
          @include flexbox;
          @include justify-content(center);
          ul{
            @include flexbox;
            @include flex-direction(column)
          }
        }
        .modal{
          grid-column: 1/3;
          grid-row: 3;
          display: block;
          text-align: center;
        }
      }
    }
  }
  section{
    .container{
      .wrap{
        @include justify-content(center);
      }
    }
  }
  .about{
    .about_text{
      text-align: center;
    }
  }
  .methods{
    .container{
      .wrap{
        grid-template-columns: 1fr;
      }
    }
    div{
      text-align: center;
      a.btn{
        display: inline-block;
      }
    }
    img{
      display: none;
    }
  }
  .direction{
    .direction_list{
      grid-template-columns: 1fr;
      grid-gap: 5em;

      .direction_list__item {
        >div{
          top: 15%;
        }
        .direction_list__item_name{
          font-size: 2.8em;
        }
        ul li{
          font-size: 2em;
        }

      }
    }
  }

}

@media (max-width: 768px){
  .name{
    .title{
      white-space: normal;
    }
  }
  header{
    .bottom{
      position: relative;
    }
  }
  footer{
    .container{
      grid-template-columns: 1fr;
      padding: 20px;
    }
    .name{
      grid-column: 1;
    }
    .contacts{
      @include flex-direction(column);
      @include align-items(center);
    }
    .copywrite{
      grid-row: 3;
      text-align: center;
    }
  }
  header,
  section{
    .container{
      padding: 20px;
    }
  }
  section {
    .title_block {
      font-size: em(30px, $base-font-size);
    }
    &.pages{
      padding-top: 0;
    }
  }
  .quotes {
    &.pages{
      margin-bottom: 0;
    }
    padding-bottom: 0;
    .quotes_slider {
      .quotes_slider__item {
        height: auto;
        padding: 100px 20px;
        -webkit-background-size: cover;
        background-size: cover;
        .quotes_text {
          font-size: 3em;
          top: 10%;
          left: 0;

        }
        .quotes_author{
          font-size: em(20px, $base-font-size);
          top: 80%;
          right: 20%;
          text-align: center;
        }
      }
    }
  }
  .games{
    .games_item{
      grid-template-columns: 1fr;
      &__name{
        grid-column: 1;
        font-size: 1.5em;
      }
      &__image{
        img{
          height: 300px;
        }
      }
      .game_images{
        grid-column: 1;
        flex-wrap: wrap;
        img{
          margin: 10px 0;
        }
      }
      &:nth-child(odd){
        .games_item__desctiption{
          grid-column:1;
        }
        .games_item__image{
          grid-column:1;
          grid-row: 2;
        }
      }
      &:nth-child(even){
        .games_item__image{
          grid-row: 2;
        }
      }
    }
  }
  .about {
    h2.title_block {
      grid-column: 1;
    }
    &.pages{
      .container {
        .wrap {
          img{
            float: none;
            margin-left: 0;
          }
        }
      }
    }
    img{
      margin-right: 0;
    }
    .container {
      .wrap{
        @include flex-wrap(wrap);
      }
    }
    .about_text {
      margin-top: 2em;
      .title {
        font-size: 3em;
        text-align: center;
      }
    }
  }
  .reviews {
    .reviews_slider__items{
      padding: 10px 0;
      font-size: 1.6em;
      div{
        padding: 10px;
      }
    }
  }
  .methods {
    p{
      font-size: 1.6em;
      .color{
        font-size: 20px;
      }
    }
  }
  section.meet {
    .wrap {
      grid-template-columns: 1fr;
      div{
        text-align: center;
      }
      .meet_list{
        display: none;
      }
    }
    p.text{
      text-align: left;
    }
    a.btn{
      display: inline-block;
    }
  }
  .direction {
    p{
      padding-bottom: 20px;
    }
    .direction_list__item{
      &_name{
        font-size: 1.8em;
        height: auto;
      }
      >div{
        top: 10%;
      }
    }
  }
  .contact_form {
    .top p{
      font-size: 1.6em;
    }
    .bottom{
      display: none;
    }
    form {
      background: inherit;

      padding: 10px;
      position: relative;
      top: 0;
      p{
        grid-template-columns: 1fr;
      }
      .wpcf7-submit,
      .your-message{
        grid-column: 1;
      }
      textarea{
        height: 50px;
      }
    }
  }
  .modal_box.active{
    padding: 0;
    section.contact_form{
      padding: 0;
    }
    .modal .closeModal{
      top: 10px;
      right: 10px;
    }
  }
  .articles_list {
    .container{
      grid-template-columns: 1fr;
      .title_block{
        grid-column: 1;
      }
      .single_article{
        &_description{
          &_title{
            font-size: 1.8em;
          }
          &_short{
            font-size: 1.4em;
            p{
              height: 65px;
              line-height: 1.5;
            }
          }
        }
      }
    }
  }
  .pagination {
    grid-column: 1;
    ul li{
      margin: 10px 0;
    }
  }
}

@media (max-width: 375px) {
  header,
  section{
    .container{
      padding: 20px 10px;
    }
  }
  header .bottom .menu ul li{
    padding: 10px;
  }
  .pagination {
    grid-column: 1;
    ul {
      font-size: $base-font-size;
    }
  }
}