section.meet{
  .wrap{
    @include display-grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    align-items: center;
  }
  .btn{

  }
  p.text{
    font-size: em(16px, $base-font-size);
    margin-bottom: 30px;
    line-height: 1.5;
  }
  .meet_list{
    padding: 20px 40px;
    background: $viol_c;
    ul{
      list-style-image: url(../img/directions/check-mark.png);
      background: $white_c;
      padding-top: 2em;
    }
    &__item{
      font-size: em(16px, $base-font-size);
      padding-bottom: 10px;
      margin-left: 2em;
    }
  }
}