ul.menu{
  z-index:999;
  padding:0;
  margin:0;
  list-style-type:none;
  position: relative;
  .share{
    i.fa{
      height:50px;
      width:50px;
      text-align:center;
      line-height:50px;
      background-color: $viol_c;
      border-radius:2px;
      color: $white_c;
      font-size: 20px;
    }
    &:hover{
      &.bottom {
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              top:#{$i*50}px;
              transform:rotate(0deg);
              border-top:1px dashed darken($white_c,20%);
              transition-delay:#{$i*0.08}s;
            }
          }
        }
      }
      &.left{
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              left:#{-$i*51}px;
              transform:rotate(0deg);
              transition-delay:#{$i*0.5}s;
              border-right:1px dashed darken($white_c,20%);
            }
          }
        }
      }
      &.right{
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              left:#{$i*50}px;
              transform:rotate(0deg);
              transition-delay:#{$i*0.08}s;
              border-left:1px dashed darken($white_c,20%);
            }
          }
        }
      }
      &.top{
        .submenu{
          @for $i from 1 through 5{
            li:nth-child(#{$i}){
              opacity:1;
              top:#{-$i*51}px;
              transition-delay:#{$i*0.08}s;
              transform:rotateY(0deg);
              border-bottom:1px dashed darken($white_c,15%);
            }
          }
        }
      }
    }
  }
  .submenu{
    list-style-type:none;
    padding:0;
    margin:0;
    li{
      transition:all ease-in-out 0.5s;
      position:absolute;
      top: 0;
      left: 0;
      z-index:-1;
      opacity:0;
      a{
        i{
          color: $white_c;
          font-size: 20px;
        }
      }
      a{
        color: #212121;
        &:hover{
          i.fa{
            color: $viol_c;

          }
          &.facebook{
            i.fa{
              background-color: #3b5999;
            }
          }
          &.skype{
            i.fa{
              background-color: #55acee;
            }
          }
          &.envelope{
            i.fa{
              background-color: #dd4b39;
            }
          }
          &.phone{
            i.fa{
              background-color: #e4405f;
            }
          }
        }
      }
    }
    @for $i from 1 through 4{
      li:nth-child(#{$i}){
        transform:rotateX(#{$i*45}deg);
      }
    }

  }
}

