.methods{
  .container{
    .wrap{
      @include display-grid;
      grid-template-columns: 3fr 2fr;
      grid-gap: 2em;
    }
  }
  img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  p{
    background: #efe9f2;
    padding: 1em;
    font-size: em(18px, $base-font-size);
    line-height: 1.5;
    br{
      margin: 10px;
      display: block;
    }
    .color{
      font-family: $gabri;
      color: $viol_c;
      font-size: 30px;
      text-transform: capitalize;
      line-height: 1;
    }
  }
}