.modal_box.active {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 0s;
  overflow: auto;
  padding: 10em 5em;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  font-size: 10px;
}

.modal_box.active .owerlay,
.owerlay.active {
  width: 100%;
  display: block;
  height: 100%;
  background: rgba($grey_c, .7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  transition: 0s;
  z-index: 4;
  margin: auto;
}

.modal_box.active .modal {
  position: relative;
  max-width: 915px;
  width: 100%;
  background: $white_c;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  bottom: 0;
  margin: auto;
  padding: 3em 0;
}

.modal_box.active .modal .closeModal {
  position: absolute;
  top: -48px;
  right: -48px;
  cursor: pointer;
}

.modal_box.mail_box .mail_box,
.modal_box.sentMessage .sentMessage{
  display: block;
}

.modal_box .modal,
.modal_box .modal_new,
.modal_box .owerlay {
  display: none
}

.modal_box{
  &.mail_box {
    @include flexbox;
    padding: 0 5em;
    section.contact_form{
      padding: 7em 0;
      form{
        position: relative;
      }
      .sub_title{
        text-align: center;
        padding-bottom: em(50px, $font-size-26);
      }
      .buttons{
        grid-column: 1/3;
        padding-top: 2em;
        text-align: center;
      }
    }
  }
  &.mail_box{
    .modal.mail_box{
      display: block;
    }
  }
  &.sentMessage{
    padding: 0 5em;
    .modal.sentMessage{
      display: block;
    }
    .success{
      text-align: center;
      padding: 10em 0 12em;
      .sub_title{
        display: block;
        margin-bottom: 40px;
      }
      .buttons{
        @include justify-content(center);
        .btn{
          text-transform: capitalize;
        }
      }
    }
  }
}

.owerlay {
  display: none;
}
.owerlay.active{
  display: block;
}