.pagination{
  grid-column: 1/3;
  margin: auto;
  ul{
    @include flexbox;
    @include justify-content(space-evenly);
    font-size: em(16px, $base-font-size);
    li{
      border: 1px solid $viol_c;
      padding: 5px 10px;
      margin: 10px;
      width: 30px;
      &:not(.pagination-previous),
      &:not(.pagination-next){
        border: none;
        width: 100%;
        white-space: nowrap;
      }
      &.current{
        background: $viol_c;
        color: $white_c;
      }
    }
  }
}