.quotes{
  padding-bottom: 50px;
  .quotes_slider{
    position: relative;
    font-size: 10px;
    .slick-slide{
      &:before{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba($viol_c,.3);
      }
    }
    &__item{
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 600px;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      .quotes_text{
        font-size: em(40px, $base-font-size);
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: $white_c;
        text-align: center;
        max-width: 750px;
        position: relative;
        z-index: 1;
      }
      .quotes_author{
        font-size:3em;
        position: absolute;
        top: 80%;
        right: 20%;
        color: $white_c;
      }
    }
    img{
      height: 90vh;
      width: 100%;
      object-fit: cover;
    }
  }
  &.pages{
    margin-bottom: 5em;
    .quotes_slider{
      img{
        object-fit: contain;
      }
      .slick-arrow{
        border: 4px solid $dark_c;
        &:after{
          content: '';
          border: solid rgba($dark_c,.7);
          border-width: 0 4px 4px 0;
          display: inline-block;
          padding: 5px;
          position: relative;
        }
      }
    }
  }
}
