.response{
  background: url(../img/contact_form/fiol.jpg);
  .container{
    max-width: 726px;
    padding: 1.5em 0;
    margin: auto;
  }
  .title_block{
    color: $white_c;
  }
  form{
    position: relative;
  }
}