.reviews{
  background: url("../img/reviews/bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  &:after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($viol_c,.7);
  }
  .title_block{
    color: $white_c;
    position: relative;
    z-index: 1;
  }
  .reviews_slider{
    position: relative;
    z-index: 2;
    &__items{
      padding: 10px 2em;
      text-align: center;
      font-size: em(20px, $base-font-size);
      div{
        padding: 20px;
      }
      &_text,
      &_author{
        font-style: italic;
        display: block;
        padding-bottom: 20px;
        color: $white_c;
      }
    }
    .slick-dots{
      @include flexbox;
      @include justify-content(center);
      li{
        border: 2px solid $white_c;
        height: 20px;
        width: 20px;
        background: inherit;
        border-radius: 50%;
        margin-right: 20px;
        button{
          font-size: 0;
          border: 0;
        }
        &.slick-active{
          background: $white_c;
        }
      }
    }
  }
}
