$grey_c: #fdfcfc;
$viol_c: #aa6cb7;
$white_c: #fff;
$dark_c: #4e4c4c;


$mr: 'mr';
$elb: 'elb';
$gabri: 'gabri';
$alice: 'alice';

@import "em";

$base-font-size: 10px;
$font-size-70: 70px;
$font-size-60: 60px;
$font-size-50: 50px;
$font-size-26: 26px;
$font-size-24: 24px;
$font-size-22: 22px;
$font-size-20: 20px;
$font-size-18: 18px;
$font-size-16: 16px;

h2 {
  font-size: em($font-size-70, $base-font-size);
  line-height: em(1.23, $font-size-70);
  text-transform: uppercase;
}

h3{
  font-size: em(30px, $base-font-size);
  font-family: $gabri;
  color: $viol_c;
}
span.title{
  font-size: em($font-size-24, $base-font-size);
}
.we_are{
  font-size: em($font-size-22, $base-font-size);
}
.parag{
  font-size: em($font-size-20, $base-font-size);
  @include em((
          line-height: 1.5,
          margin-bottom: 15px
  ),$font-size-20);
  display: block;
}
