@charset "UTF-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic";
h2 {
  font-size: 7em;
  line-height: 1.23;
  text-transform: uppercase; }

h3 {
  font-size: 3em;
  font-family: "gabri";
  color: #aa6cb7; }

span.title {
  font-size: 2.4em; }

.we_are {
  font-size: 2.2em; }

.parag {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.75em;
  display: block; }

@font-face {
  font-family: 'mr';
  src: url("../fonts/MyriadPro-Regular.eot");
  src: local("☺"), url("../fonts/MyriadPro-Regular.woff") format("woff"), url("../fonts/MyriadPro-Regular.ttf") format("truetype"), url("../fonts/MyriadPro-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'elb';
  src: url("../fonts/ElMessiri-Bold.eot");
  src: local("☺"), url("../fonts/ElMessiri-Bold.woff") format("woff"), url("../fonts/ElMessiri-Bold.ttf") format("truetype"), url("../fonts/ElMessiri-Bold.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gabri';
  src: url("../fonts/Gabriola One.eot");
  src: local("☺"), url("../fonts/Gabriola One.woff") format("woff"), url("../fonts/Gabriola One.ttf") format("truetype"), url("../fonts/Gabriola One.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'alice';
  src: url("../fonts/Alice-Regular.eot");
  src: local("☺"), url("../fonts/Alice-Regular.woff") format("woff"), url("../fonts/Alice-Regular.ttf") format("truetype"), url("../fonts/Alice-Regular.svg") format("svg");
  font-weight: normal;
  font-style: normal; }
h2 {
  font-size: 7em;
  line-height: 1.23;
  text-transform: uppercase; }

h3 {
  font-size: 3em;
  font-family: "gabri";
  color: #aa6cb7; }

span.title {
  font-size: 2.4em; }

.we_are {
  font-size: 2.2em; }

.parag {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.75em;
  display: block; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html, body {
  width: 100%;
  height: 100%; }

::selection {
  color: #fff;
  background: #4e4c4c; }

input:focus,
button:focus,
textarea:focus {
  outline: none; }

ul {
  list-style: none; }

body {
  color: #4e4c4c;
  font-family: "mr";
  line-height: 1.5; }

p {
  line-height: 1; }

a {
  text-decoration: none;
  color: inherit; }

a:focus,
a:hover,
a:visited {
  color: inherit; }

header,
footer,
section {
  font-size: 10px; }

.container {
  max-width: 1170px;
  margin: auto; }

.name .title {
  font-size: 3em;
  text-transform: uppercase;
  font-family: "alice";
  white-space: nowrap; }
.name .subtitle {
  font-size: 2em;
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif; }

section .container {
  padding: 40px 50px; }
  section .container .wrap {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between;
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
section.pages {
  padding-top: 105px; }
section .title_block {
  padding-bottom: 1em;
  text-align: center;
  position: relative;
  font-family: "gabri";
  font-size: 4em;
  padding-top: 20px;
  color: #343232;
  text-transform: none; }
section .block_text {
  max-width: 726px;
  padding: 1.5em 0;
  margin: auto; }
section .buttons {
  margin-top: 5em; }

.sub_title {
  font-size: 2.6em;
  display: block;
  padding-bottom: 0.7692307692em; }

.social_contact {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  -ms-align-items: flex-end;
  align-items: flex-end;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  -ms-flex-pack: space-between; }
  .social_contact a.social_link {
    width: 4em;
    height: 4em;
    display: block;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat; }

.empty {
  display: block;
  padding: 10px; }

.text {
  font-family: "mr";
  font-size: 1.6em; }
  .text ul {
    background: #f4f4f4;
    padding: 50px 20px 20px 50px;
    text-align: left; }
    .text ul li {
      position: relative;
      font-size: 16px; }
      .text ul li:before {
        content: url("../img/directions/check-mark.png");
        display: block;
        position: absolute;
        left: -40px; }

.slick-arrow {
  position: absolute;
  top: 50%;
  font-size: 0;
  width: 40px;
  height: 40px;
  border: 4px solid rgba(253, 252, 252, 0.7);
  border-radius: 50%;
  z-index: 1;
  background: inherit; }
  .slick-arrow.slick-prev {
    left: 5%; }
    .slick-arrow.slick-prev:after {
      transform: rotate(135deg);
      -webkit-transform: rotate(135deg);
      left: 3px; }
  .slick-arrow.slick-next {
    right: 5%; }
    .slick-arrow.slick-next:after {
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      right: 3px; }
  .slick-arrow:after {
    content: '';
    border: solid rgba(253, 252, 252, 0.7);
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 5px;
    position: relative; }

header {
  grid-area: header; }

footer {
  grid-area: footer; }

.main {
  grid-area: main;
  min-height: 84vh; }

.content {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  grid-template-areas: "header" "main" "footer"; }

.modal_box.active {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  transition: 0s;
  overflow: auto;
  padding: 10em 5em;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  font-size: 10px; }

.modal_box.active .owerlay,
.owerlay.active {
  width: 100%;
  display: block;
  height: 100%;
  background: rgba(253, 252, 252, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  overflow: auto;
  transition: 0s;
  z-index: 4;
  margin: auto; }

.modal_box.active .modal {
  position: relative;
  max-width: 915px;
  width: 100%;
  background: #fff;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  bottom: 0;
  margin: auto;
  padding: 3em 0; }

.modal_box.active .modal .closeModal {
  position: absolute;
  top: -48px;
  right: -48px;
  cursor: pointer; }

.modal_box.mail_box .mail_box,
.modal_box.sentMessage .sentMessage {
  display: block; }

.modal_box .modal,
.modal_box .modal_new,
.modal_box .owerlay {
  display: none; }

.modal_box.mail_box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding: 0 5em; }
  .modal_box.mail_box section.contact_form {
    padding: 7em 0; }
    .modal_box.mail_box section.contact_form form {
      position: relative; }
    .modal_box.mail_box section.contact_form .sub_title {
      text-align: center;
      padding-bottom: 1.9230769231em; }
    .modal_box.mail_box section.contact_form .buttons {
      grid-column: 1/3;
      padding-top: 2em;
      text-align: center; }
.modal_box.mail_box .modal.mail_box {
  display: block; }
.modal_box.sentMessage {
  padding: 0 5em; }
  .modal_box.sentMessage .modal.sentMessage {
    display: block; }
  .modal_box.sentMessage .success {
    text-align: center;
    padding: 10em 0 12em; }
    .modal_box.sentMessage .success .sub_title {
      display: block;
      margin-bottom: 40px; }
    .modal_box.sentMessage .success .buttons {
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      .modal_box.sentMessage .success .buttons .btn {
        text-transform: capitalize; }

.owerlay {
  display: none; }

.owerlay.active {
  display: block; }

.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

h2 {
  font-size: 7em;
  line-height: 1.23;
  text-transform: uppercase; }

h3 {
  font-size: 3em;
  font-family: "gabri";
  color: #aa6cb7; }

span.title {
  font-size: 2.4em; }

.we_are {
  font-size: 2.2em; }

.parag {
  font-size: 2em;
  line-height: 1.5;
  margin-bottom: 0.75em;
  display: block; }

a.btn,
.wpcf7-submit {
  padding: 13px 35px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.2em;
  background: #aa6cb7;
  color: #fff;
  transition: .3s;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  border: 3px solid #aa6cb7; }
  a.btn:hover,
  .wpcf7-submit:hover {
    color: #aa6cb7;
    background: transparent;
    border: 3px solid #aa6cb7; }

form p {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px; }
form br {
  display: none; }
form span input,
form select,
form textarea {
  font-size: 1.6em;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  padding: 5px 20px;
  border: 1px solid #4e4c4c;
  width: 100%; }
form select {
  height: 100%; }
form textarea {
  resize: none;
  height: 100px; }
form .your-message {
  grid-column: 1/32; }
form .wpcf7-submit {
  grid-column: 1/3;
  width: 100%;
  display: block;
  max-width: 160px;
  margin: auto; }

.pagination {
  grid-column: 1/3;
  margin: auto; }
  .pagination ul {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-evenly;
    -moz-justify-content: space-evenly;
    -ms-justify-content: space-evenly;
    justify-content: space-evenly;
    -ms-flex-pack: space-evenly;
    font-size: 1.6em; }
    .pagination ul li {
      border: 1px solid #aa6cb7;
      padding: 5px 10px;
      margin: 10px;
      width: 30px; }
      .pagination ul li:not(.pagination-previous), .pagination ul li:not(.pagination-next) {
        border: none;
        width: 100%;
        white-space: nowrap; }
      .pagination ul li.current {
        background: #aa6cb7;
        color: #fff; }

ul.menu {
  z-index: 999;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative; }
  ul.menu .share i.fa {
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    background-color: #aa6cb7;
    border-radius: 2px;
    color: #fff;
    font-size: 20px; }
  ul.menu .share:hover.bottom .submenu li:nth-child(1) {
    opacity: 1;
    top: 50px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.08s; }
  ul.menu .share:hover.bottom .submenu li:nth-child(2) {
    opacity: 1;
    top: 100px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.16s; }
  ul.menu .share:hover.bottom .submenu li:nth-child(3) {
    opacity: 1;
    top: 150px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.24s; }
  ul.menu .share:hover.bottom .submenu li:nth-child(4) {
    opacity: 1;
    top: 200px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.32s; }
  ul.menu .share:hover.bottom .submenu li:nth-child(5) {
    opacity: 1;
    top: 250px;
    transform: rotate(0deg);
    border-top: 1px dashed #cccccc;
    transition-delay: 0.4s; }
  ul.menu .share:hover.left .submenu li:nth-child(1) {
    opacity: 1;
    left: -51px;
    transform: rotate(0deg);
    transition-delay: 0.5s;
    border-right: 1px dashed #cccccc; }
  ul.menu .share:hover.left .submenu li:nth-child(2) {
    opacity: 1;
    left: -102px;
    transform: rotate(0deg);
    transition-delay: 1s;
    border-right: 1px dashed #cccccc; }
  ul.menu .share:hover.left .submenu li:nth-child(3) {
    opacity: 1;
    left: -153px;
    transform: rotate(0deg);
    transition-delay: 1.5s;
    border-right: 1px dashed #cccccc; }
  ul.menu .share:hover.left .submenu li:nth-child(4) {
    opacity: 1;
    left: -204px;
    transform: rotate(0deg);
    transition-delay: 2s;
    border-right: 1px dashed #cccccc; }
  ul.menu .share:hover.left .submenu li:nth-child(5) {
    opacity: 1;
    left: -255px;
    transform: rotate(0deg);
    transition-delay: 2.5s;
    border-right: 1px dashed #cccccc; }
  ul.menu .share:hover.right .submenu li:nth-child(1) {
    opacity: 1;
    left: 50px;
    transform: rotate(0deg);
    transition-delay: 0.08s;
    border-left: 1px dashed #cccccc; }
  ul.menu .share:hover.right .submenu li:nth-child(2) {
    opacity: 1;
    left: 100px;
    transform: rotate(0deg);
    transition-delay: 0.16s;
    border-left: 1px dashed #cccccc; }
  ul.menu .share:hover.right .submenu li:nth-child(3) {
    opacity: 1;
    left: 150px;
    transform: rotate(0deg);
    transition-delay: 0.24s;
    border-left: 1px dashed #cccccc; }
  ul.menu .share:hover.right .submenu li:nth-child(4) {
    opacity: 1;
    left: 200px;
    transform: rotate(0deg);
    transition-delay: 0.32s;
    border-left: 1px dashed #cccccc; }
  ul.menu .share:hover.right .submenu li:nth-child(5) {
    opacity: 1;
    left: 250px;
    transform: rotate(0deg);
    transition-delay: 0.4s;
    border-left: 1px dashed #cccccc; }
  ul.menu .share:hover.top .submenu li:nth-child(1) {
    opacity: 1;
    top: -51px;
    transition-delay: 0.08s;
    transform: rotateY(0deg);
    border-bottom: 1px dashed #d9d9d9; }
  ul.menu .share:hover.top .submenu li:nth-child(2) {
    opacity: 1;
    top: -102px;
    transition-delay: 0.16s;
    transform: rotateY(0deg);
    border-bottom: 1px dashed #d9d9d9; }
  ul.menu .share:hover.top .submenu li:nth-child(3) {
    opacity: 1;
    top: -153px;
    transition-delay: 0.24s;
    transform: rotateY(0deg);
    border-bottom: 1px dashed #d9d9d9; }
  ul.menu .share:hover.top .submenu li:nth-child(4) {
    opacity: 1;
    top: -204px;
    transition-delay: 0.32s;
    transform: rotateY(0deg);
    border-bottom: 1px dashed #d9d9d9; }
  ul.menu .share:hover.top .submenu li:nth-child(5) {
    opacity: 1;
    top: -255px;
    transition-delay: 0.4s;
    transform: rotateY(0deg);
    border-bottom: 1px dashed #d9d9d9; }
  ul.menu .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0; }
    ul.menu .submenu li {
      transition: all ease-in-out 0.5s;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      opacity: 0; }
      ul.menu .submenu li a i {
        color: #fff;
        font-size: 20px; }
      ul.menu .submenu li a {
        color: #212121; }
        ul.menu .submenu li a:hover i.fa {
          color: #aa6cb7; }
        ul.menu .submenu li a:hover.facebook i.fa {
          background-color: #3b5999; }
        ul.menu .submenu li a:hover.skype i.fa {
          background-color: #55acee; }
        ul.menu .submenu li a:hover.envelope i.fa {
          background-color: #dd4b39; }
        ul.menu .submenu li a:hover.phone i.fa {
          background-color: #e4405f; }
    ul.menu .submenu li:nth-child(1) {
      transform: rotateX(45deg); }
    ul.menu .submenu li:nth-child(2) {
      transform: rotateX(90deg); }
    ul.menu .submenu li:nth-child(3) {
      transform: rotateX(135deg); }
    ul.menu .submenu li:nth-child(4) {
      transform: rotateX(180deg); }

/*header style*/
header {
  position: relative; }
  header .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    padding: 10px 50px;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
  header .top {
    background: #fdfcfc; }
  header .contacts {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  header .bottom {
    position: absolute;
    width: 100%;
    z-index: 10;
    background: rgba(253, 252, 252, 0.7); }
    header .bottom .container {
      display: -ms-grid;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
      padding-bottom: 0;
      padding-top: 20px; }
    header .bottom .menu {
      grid-column: 1/3;
      grid-row: 2; }
      header .bottom .menu ul {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        -moz-align-items: center;
        -ms-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; }
        header .bottom .menu ul li {
          padding: 15px; }
          header .bottom .menu ul li.current_page_item a {
            color: #ab77ce; }
          header .bottom .menu ul li a {
            font-size: 1.6em;
            color: #4e4c4c; }
    header .bottom .modal {
      text-align: right; }
      header .bottom .modal .btn {
        font-size: 2.4em; }
  header .contacts .contacts_item {
    margin-right: 2em;
    font-size: 1.6em; }
    header .contacts .contacts_item i {
      padding-right: 5px; }
  header .burger {
    grid-column: 2/3;
    display: none;
    color: #4a4a4a;
    cursor: pointer;
    height: 3.25rem;
    position: relative;
    width: 3.25rem;
    margin-left: auto; }
    header .burger span {
      background-color: currentColor;
      display: block;
      height: 1px;
      left: calc(50% - 8px);
      position: absolute;
      -webkit-transform-origin: center;
      transform-origin: center;
      transition-duration: 86ms;
      transition-property: background-color,opacity,-webkit-transform;
      transition-property: background-color,opacity,transform;
      transition-property: background-color,opacity,transform,-webkit-transform;
      transition-timing-function: ease-out;
      width: 16px; }
      header .burger span:nth-child(1) {
        top: calc(50% - 6px); }
      header .burger span:nth-child(2) {
        top: calc(50% - 1px); }
      header .burger span:nth-child(3) {
        top: calc(50% + 4px); }
    header .burger.is-active span:nth-child(1) {
      -webkit-transform: translateY(5px) rotate(45deg);
      transform: translateY(5px) rotate(45deg); }
    header .burger.is-active span:nth-child(2) {
      opacity: 0; }
    header .burger.is-active span:nth-child(3) {
      -webkit-transform: translateY(-5px) rotate(-45deg);
      transform: translateY(-5px) rotate(-45deg); }

/*quotes style*/
.quotes {
  padding-bottom: 50px; }
  .quotes .quotes_slider {
    position: relative;
    font-size: 10px; }
    .quotes .quotes_slider .slick-slide:before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(170, 108, 183, 0.3); }
    .quotes .quotes_slider__item {
      background-size: 100% 100%;
      background-repeat: no-repeat;
      height: 600px;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      .quotes .quotes_slider__item .quotes_text {
        font-size: 4em;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        color: #fff;
        text-align: center;
        max-width: 750px;
        position: relative;
        z-index: 1; }
      .quotes .quotes_slider__item .quotes_author {
        font-size: 3em;
        position: absolute;
        top: 80%;
        right: 20%;
        color: #fff; }
    .quotes .quotes_slider img {
      height: 90vh;
      width: 100%;
      object-fit: cover; }
  .quotes.pages {
    margin-bottom: 5em; }
    .quotes.pages .quotes_slider img {
      object-fit: contain; }
    .quotes.pages .quotes_slider .slick-arrow {
      border: 4px solid #4e4c4c; }
      .quotes.pages .quotes_slider .slick-arrow:after {
        content: '';
        border: solid rgba(78, 76, 76, 0.7);
        border-width: 0 4px 4px 0;
        display: inline-block;
        padding: 5px;
        position: relative; }

/*about style*/
.about.pages .container .wrap {
  display: block; }
  .about.pages .container .wrap:after {
    content: '';
    display: block;
    clear: both; }
  .about.pages .container .wrap img {
    float: right;
    margin-bottom: 20px;
    margin-right: 0;
    margin-left: 5em;
    max-width: 500px;
    width: 100%; }
.about.pages .title {
  font-size: 2em; }
.about.single_page .post_thumbnail {
  height: 300px; }
  .about.single_page .post_thumbnail img {
    width: 100%;
    object-fit: cover;
    height: 100%; }
.about.single_page .container .wrap img {
  float: none;
  margin: 0;
  width: auto;
  height: auto; }
.about .container .wrap {
  -webkit-flex-wrap: nowrap;
  -moz-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
.about h2.title_block {
  grid-column: 1/3; }
.about img {
  max-width: 100%;
  margin-right: 5em;
  height: auto;
  width: 300px; }
.about .title {
  font-family: "gabri";
  font-size: 3em;
  padding-bottom: 50px; }
  .about .title .wrap_text {
    color: #aa6cb7;
    font-size: 50px; }
.about .text {
  padding-bottom: 50px; }
  .about .text .wrap_text {
    color: #383333;
    font-size: 30px; }
  .about .text strong {
    font-family: "gabri";
    font-size: 24px; }
  .about .text h2 {
    font-family: "gabri";
    font-size: 2em;
    color: #343232;
    padding: 10px 0; }
.about a.btn {
  display: inline-block; }

/*directions style*/
.direction .container {
  text-align: center; }
.direction a.btn {
  display: inline-block; }
.direction .wrap_text {
  color: #aa6cb7;
  font-size: 4em;
  font-family: "gabri";
  text-transform: initial; }
.direction p {
  font-size: 1.8em;
  font-family: 'Roboto', sans-serif;
  color: #4e4c4c;
  padding-bottom: 50px; }
.direction .direction_list {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em; }
  .direction .direction_list__item {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    position: relative; }
    .direction .direction_list__item_name {
      font-size: 2em;
      font-family: 'Roboto', sans-serif;
      color: #4e4c4c;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      height: 50px;
      -webkit-align-items: flex-end;
      -moz-align-items: flex-end;
      -ms-align-items: flex-end;
      align-items: flex-end;
      padding-bottom: 1em; }
    .direction .direction_list__item > div {
      background: #fefdfc;
      padding: 15px;
      border-radius: 50%;
      width: 75px;
      height: 75px;
      margin-bottom: 1em;
      position: absolute;
      top: 10%; }
      .direction .direction_list__item > div img {
        height: 50px; }
    .direction .direction_list__item ul {
      margin-top: 50px;
      background: #f4f4f4;
      padding: 50px 20px 20px 50px;
      text-align: left;
      display: -ms-grid;
      display: grid;
      grid-gap: 10px; }
      .direction .direction_list__item ul li {
        position: relative;
        font-size: 1.6em; }
        .direction .direction_list__item ul li:before {
          content: url("../img/directions/check-mark.png");
          display: block;
          position: absolute;
          left: -40px; }

/*methods style*/
.methods .container .wrap {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 2em; }
.methods img {
  object-fit: cover;
  width: 100%;
  height: 100%; }
.methods p {
  background: #efe9f2;
  padding: 1em;
  font-size: 1.8em;
  line-height: 1.5; }
  .methods p br {
    margin: 10px;
    display: block; }
  .methods p .color {
    font-family: "gabri";
    color: #aa6cb7;
    font-size: 30px;
    text-transform: capitalize;
    line-height: 1; }

/*reviews style*/
.reviews {
  background: url("../img/reviews/bg.png") no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  position: relative; }
  .reviews:after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(170, 108, 183, 0.7); }
  .reviews .title_block {
    color: #fff;
    position: relative;
    z-index: 1; }
  .reviews .reviews_slider {
    position: relative;
    z-index: 2; }
    .reviews .reviews_slider__items {
      padding: 10px 2em;
      text-align: center;
      font-size: 2em; }
      .reviews .reviews_slider__items div {
        padding: 20px; }
      .reviews .reviews_slider__items_text, .reviews .reviews_slider__items_author {
        font-style: italic;
        display: block;
        padding-bottom: 20px;
        color: #fff; }
    .reviews .reviews_slider .slick-dots {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      -moz-justify-content: center;
      -ms-justify-content: center;
      justify-content: center;
      -ms-flex-pack: center; }
      .reviews .reviews_slider .slick-dots li {
        border: 2px solid #fff;
        height: 20px;
        width: 20px;
        background: inherit;
        border-radius: 50%;
        margin-right: 20px; }
        .reviews .reviews_slider .slick-dots li button {
          font-size: 0;
          border: 0; }
        .reviews .reviews_slider .slick-dots li.slick-active {
          background: #fff; }

/*meet style*/
section.meet .wrap {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center; }
section.meet p.text {
  font-size: 1.6em;
  margin-bottom: 30px;
  line-height: 1.5; }
section.meet .meet_list {
  padding: 20px 40px;
  background: #aa6cb7; }
  section.meet .meet_list ul {
    list-style-image: url(../img/directions/check-mark.png);
    background: #fff;
    padding-top: 2em; }
  section.meet .meet_list__item {
    font-size: 1.6em;
    padding-bottom: 10px;
    margin-left: 2em; }

/*contact form style*/
.contact_form .top {
  background: #f4f4f4; }
  .contact_form .top .container {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center; }
  .contact_form .top p {
    font-size: 1.8em;
    font-family: 'Roboto', sans-serif;
    color: #4e4c4c;
    max-width: 750px;
    text-align: center;
    line-height: 1.5; }
.contact_form .middle {
  background: url("../img/contact_form/fiol.jpg");
  height: 375px;
  position: relative; }
  .contact_form .middle .container {
    height: 100%;
    position: relative; }
.contact_form .bottom {
  background: #f4f4f4;
  height: 150px; }
.contact_form.pages form {
  position: relative; }
.contact_form form {
  position: absolute;
  z-index: 10;
  padding: 40px 100px;
  margin: auto;
  left: 0;
  right: 0;
  top: 10%;
  max-width: 750px;
  width: 100%;
  background: #fff; }
  .contact_form form .your-message {
    grid-column: 1/3; }
  .contact_form form .btn {
    grid-column: 1/3;
    width: 100%;
    display: block;
    max-width: 160px;
    margin: auto; }

/*games style*/
.games .container .wrap img {
  float: none;
  margin: 0; }
.games .games_list {
  margin-bottom: 5em; }
.games_item {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
  padding: 20px 0; }
  .games_item__name {
    grid-column: 1/3;
    text-align: center; }
  .games_item__desctiption {
    line-height: 1.5;
    align-self: center; }
  .games_item__image {
    text-align: center; }
    .games_item__image img {
      height: 400px;
      object-fit: cover; }
  .games_item:nth-child(odd) .games_item__desctiption {
    grid-column: 2/3; }
  .games_item:nth-child(odd) .games_item__image {
    grid-column: 1/2;
    grid-row: 2; }
  .games_item .game_images {
    grid-column: 1/3;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    -ms-flex-pack: space-around;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    height: 400px; }
    .games_item .game_images img {
      width: 250px; }
.games .game_images_slider {
  max-width: 1024px;
  grid-column: 1/3; }
  .games .game_images_slider .slick-arrow {
    border: 4px solid #aa6cb7; }
    .games .game_images_slider .slick-arrow:after {
      border: solid rgba(170, 108, 183, 0.7);
      border-width: 0 4px 4px 0; }
    .games .game_images_slider .slick-arrow.slick-next {
      right: 0; }
    .games .game_images_slider .slick-arrow.slick-prev {
      left: 0; }
.games .games_reviews {
  padding: 20px 0; }
  .games .games_reviews__author {
    display: block;
    padding-top: 2em;
    text-align: center; }

/*response style*/
.response {
  background: url(../img/contact_form/fiol.jpg); }
  .response .container {
    max-width: 726px;
    padding: 1.5em 0;
    margin: auto; }
  .response .title_block {
    color: #fff; }
  .response form {
    position: relative; }

/*articles style*/
.articles_list {
  padding-top: 5em; }
  .articles_list .container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr); }
  .articles_list .title_block {
    grid-column: 1/3; }
  .articles_list .single_article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    background-color: #fff; }
    .articles_list .single_article_img img {
      width: 100%;
      height: 300px;
      object-fit: cover; }
    .articles_list .single_article_description {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-direction: column;
      padding: 2em 3em; }
      .articles_list .single_article_description_title {
        font-size: 2.4em;
        font-family: "gabri";
        height: 60px; }
      .articles_list .single_article_description_short {
        font-size: 1.6em;
        padding: 1em 0; }
        .articles_list .single_article_description_short p {
          height: 50px;
          overflow: hidden;
          line-height: 1.1; }
    .articles_list .single_article .btn {
      width: 200px; }

/*footer style*/
footer {
  color: #fbf8f8;
  background: #5a5958; }
  footer .container {
    padding: 20px 50px;
    display: -ms-grid;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 25px; }
  footer .name {
    grid-column: 1/3;
    text-align: center; }
  footer .contacts {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }
    footer .contacts a {
      font-size: 1.6em;
      padding: 0 20px; }
      footer .contacts a i {
        padding-right: 5px; }
  footer .copywrite {
    color: #fff;
    font-size: 1.4em; }

/*media style*/
@media (max-width: 1280px) and (max-height: 737px) {
  .quotes .quotes_slider__item {
    background-size: 100% 100%;
    height: 500px; } }
@media (max-width: 992px) {
  header .top {
    display: none; }
  header .menu,
  header .modal,
  header .contacts {
    display: none; }
  header .burger {
    display: block; }
  header.is-active {
    height: 100vh; }
    header.is-active .bottom {
      background: #fdfcfc; }
      header.is-active .bottom .menu {
        grid-row: 2;
        height: 75vh;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        -ms-flex-pack: center; }
        header.is-active .bottom .menu ul {
          display: -webkit-box;
          display: -moz-box;
          display: -ms-flexbox;
          display: -webkit-flex;
          display: flex;
          -webkit-flex-direction: column;
          -moz-flex-direction: column;
          -ms-flex-direction: column;
          flex-direction: column; }
      header.is-active .bottom .modal {
        grid-column: 1/3;
        grid-row: 3;
        display: block;
        text-align: center; }

  section .container .wrap {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center; }

  .about .about_text {
    text-align: center; }

  .methods .container .wrap {
    grid-template-columns: 1fr; }
  .methods div {
    text-align: center; }
    .methods div a.btn {
      display: inline-block; }
  .methods img {
    display: none; }

  .direction .direction_list {
    grid-template-columns: 1fr;
    grid-gap: 5em; }
    .direction .direction_list .direction_list__item > div {
      top: 15%; }
    .direction .direction_list .direction_list__item .direction_list__item_name {
      font-size: 2.8em; }
    .direction .direction_list .direction_list__item ul li {
      font-size: 2em; } }
@media (max-width: 768px) {
  .name .title {
    white-space: normal; }

  header .bottom {
    position: relative; }

  footer .container {
    grid-template-columns: 1fr;
    padding: 20px; }
  footer .name {
    grid-column: 1; }
  footer .contacts {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center; }
  footer .copywrite {
    grid-row: 3;
    text-align: center; }

  header .container,
  section .container {
    padding: 20px; }

  section .title_block {
    font-size: 3em; }
  section.pages {
    padding-top: 0; }

  .quotes {
    padding-bottom: 0; }
    .quotes.pages {
      margin-bottom: 0; }
    .quotes .quotes_slider .quotes_slider__item {
      height: auto;
      padding: 100px 20px;
      -webkit-background-size: cover;
      background-size: cover; }
      .quotes .quotes_slider .quotes_slider__item .quotes_text {
        font-size: 3em;
        top: 10%;
        left: 0; }
      .quotes .quotes_slider .quotes_slider__item .quotes_author {
        font-size: 2em;
        top: 80%;
        right: 20%;
        text-align: center; }

  .games .games_item {
    grid-template-columns: 1fr; }
    .games .games_item__name {
      grid-column: 1;
      font-size: 1.5em; }
    .games .games_item__image img {
      height: 300px; }
    .games .games_item .game_images {
      grid-column: 1;
      flex-wrap: wrap; }
      .games .games_item .game_images img {
        margin: 10px 0; }
    .games .games_item:nth-child(odd) .games_item__desctiption {
      grid-column: 1; }
    .games .games_item:nth-child(odd) .games_item__image {
      grid-column: 1;
      grid-row: 2; }
    .games .games_item:nth-child(even) .games_item__image {
      grid-row: 2; }

  .about h2.title_block {
    grid-column: 1; }
  .about.pages .container .wrap img {
    float: none;
    margin-left: 0; }
  .about img {
    margin-right: 0; }
  .about .container .wrap {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .about .about_text {
    margin-top: 2em; }
    .about .about_text .title {
      font-size: 3em;
      text-align: center; }

  .reviews .reviews_slider__items {
    padding: 10px 0;
    font-size: 1.6em; }
    .reviews .reviews_slider__items div {
      padding: 10px; }

  .methods p {
    font-size: 1.6em; }
    .methods p .color {
      font-size: 20px; }

  section.meet .wrap {
    grid-template-columns: 1fr; }
    section.meet .wrap div {
      text-align: center; }
    section.meet .wrap .meet_list {
      display: none; }
  section.meet p.text {
    text-align: left; }
  section.meet a.btn {
    display: inline-block; }

  .direction p {
    padding-bottom: 20px; }
  .direction .direction_list__item_name {
    font-size: 1.8em;
    height: auto; }
  .direction .direction_list__item > div {
    top: 10%; }

  .contact_form .top p {
    font-size: 1.6em; }
  .contact_form .bottom {
    display: none; }
  .contact_form form {
    background: inherit;
    padding: 10px;
    position: relative;
    top: 0; }
    .contact_form form p {
      grid-template-columns: 1fr; }
    .contact_form form .wpcf7-submit,
    .contact_form form .your-message {
      grid-column: 1; }
    .contact_form form textarea {
      height: 50px; }

  .modal_box.active {
    padding: 0; }
    .modal_box.active section.contact_form {
      padding: 0; }
    .modal_box.active .modal .closeModal {
      top: 10px;
      right: 10px; }

  .articles_list .container {
    grid-template-columns: 1fr; }
    .articles_list .container .title_block {
      grid-column: 1; }
    .articles_list .container .single_article_description_title {
      font-size: 1.8em; }
    .articles_list .container .single_article_description_short {
      font-size: 1.4em; }
      .articles_list .container .single_article_description_short p {
        height: 65px;
        line-height: 1.5; }

  .pagination {
    grid-column: 1; }
    .pagination ul li {
      margin: 10px 0; } }
@media (max-width: 375px) {
  header .container,
  section .container {
    padding: 20px 10px; }

  header .bottom .menu ul li {
    padding: 10px; }

  .pagination {
    grid-column: 1; }
    .pagination ul {
      font-size: 10px; } }

/*# sourceMappingURL=style.css.map */
